{
  "hooks": {
    "pre-commit": "npm run format:staged",
    "pre-push": "npm test",
    "prepare-commit-msg": "exec < /dev/tty && git cz --hook || true",
    "commit-msg": "commitlint -E HUSKY_GIT_PARAMS"
  }
}
